################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/IDR Test/IDR_Test_task/obj/Debug/netcoreapp3.1
